Ask for a color and store that answer
If the answer is grey then print out you found Victor's favorite color.
Otherwise print out the color is not Victor's favorite color.

In [13]:
color = input("Choose a color")
color == 1
gray == 1
if color == gray :
    print("You found Victor's favorite color")
else:
    print("the color is not Victor's favorite color")

Choose a colorblue
You found Victor's favorite color

Now with the code before add in more conditions for other colors such as red, green, blue and write statements for them.

In [3]:
color = input("Choose a color")
if color = gray:
    print("You found Victor's favorite color")
elif: color == red
    print("the color is not Victor's favorite color")
elif: color == green
    print("the color is not Victor's favorite color")
elif: color == blue 
    print("the color is not Victor's favorite color")

SyntaxError: invalid syntax (<ipython-input-3-f2e5db3b556a>, line 2)

Ask for an exam score and store that number
If the number is greater than 100
print out you cannot have an exam score higher than 100.
if the number doesn't exceeed 100 but is greater than 75
print out you did great on your exam!
otherwise if they scored lower than 75
print out that they need to study harder.

In [6]:
score = input("What is your exam score? -> ")
score = int(score)
threshold_1 = 100
threshold_2 = 75

if score >= threshold_1:
    print("You cannot have an exam score higher than 100")
    
if score >= threshold_2:
    print("You did great on your exam!")
    
else:
    print("You need to study harder")

What is your exam score? -> 86
You did great on your exam!

Define a function that takes in 3 numbers and adds them together
Define a function that takes in 2 numbers and multiplies them
Tell the user to choose option 1 to add three numbers or to choose option 2 to mutiply two numbers.
If they choose 1 then use the first function otherwise if they choose 2 then use the second function.

In [5]:
def add(a,b,c):
    return a+b+c

def mult(x,z):
    return x*z

answer = input("Choose a number indicating which function you would like to use")
answer = int(answer)

if answer == 1:
    a = int(input("what value do you give this letter > "))
    b = int(input("what value do you give this letter > "))
    c = int(input("what value do you give this letter > "))
    print(add(a,b,c)
          
elif answer == 2:
    x = int(input("what value do you give this letter > "))
    z = int(input("what value do you give this letter > "))
    print(mult(x,z))

SyntaxError: invalid syntax (<ipython-input-5-b77ec95e0c80>, line 16)

Make a loop go from 50 to 100 and print every iteration

In [8]:
for i in range (50,101):
    print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Make an empty list and call it names

In [10]:
names = []
print (names)

[]

Make names filled with names of 5 people (Hannah, Victor, Sam, James, John)

In [8]:
names = []
names.append("Hannah")
names.append("Victor")
names.append("Sam")
names.append("James")
names.append("John")

print(names)

['Hannah', 'Victor', 'Sam', 'James', 'John']

Make names sorted in reverse. Print out the list using a for-enchanced loop

In [11]:
print(names[4])
print(names[3])
print(names[2])
print(names[1])
print(names[0])

John
James
Sam
Victor
Hannah

Make names sorted alphabetically. Print out the list using regular for loop

In [15]:
g = sorted(names)

print(g)

NameError: name 'names' is not defined

Pull out the fourth item from names and print it out

In [12]:
print(names[3])

James

Pull out the first item from names and print it out

In [13]:
print(names[0])

Hannah

Make an empty list called words and add each word into the list using the append function. The words are (Hello, Python,Class, Friends, Online, Jupyter).
Print out the list using a for-enchanced loop

In [18]:
words = []
words.append("Hello")
words.append("Python")
words.append("Class")
words.append("Friends")
words.append("Online")
words.append("Jupyter")

for w in range(1,5):
    print(words)

['Hello', 'Python', 'Class', 'Friends', 'Online', 'Jupyter']
['Hello', 'Python', 'Class', 'Friends', 'Online', 'Jupyter']
['Hello', 'Python', 'Class', 'Friends', 'Online', 'Jupyter']
['Hello', 'Python', 'Class', 'Friends', 'Online', 'Jupyter']

Make words lose it's last word and print out the new list.

In [19]:
words.remove("Jupyter")

print(words)

['Hello', 'Python', 'Class', 'Friends', 'Online']

Make a variable named fruits that contains a string "Apples Oranges Bananas Pineapples Persimmons Dragonfruit" and make it into a list splitting it by the spaces.

In [36]:
fruits = "[Apples Oranges Bananas Pineapples Persimmons Dragonfruit]"

x = fruits.split("")

print(x)

ValueError: empty separator

Make a variable named fruits that contains a string "Apples,Oranges,Bananas,Pineapples,Persimmons,Dragonfruit" and make it into a list splitting it by the commas.

In [29]:
fruits_1 = "[ Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit]

In [ ]:
Think of at least five places in the world that you would like to visit.
Store the locations in a list, making sure that they are NOT in alphabetical order. 
Print your list in its original order (don't worry about printing it neatly; a raw Python list output is fine). 
Use the "sorted()" function to print your list in alphabetical order without modifying the original list.
Show that your original list is still unsorted. 
Use the "sorted()" function to print the list in reverse alphabetical order without changing the order of the original
list. Again, show that the original list is still unsorted. 
Use the "reverse()" function to change the order of the list, then print it to show the order has changed. 
Use the "reverse()" function again to change the list back to its original order (show the output). 
Use the "sort()" function to change your list so it's stored in alphabetical order, and print the list to show the
change. Use "sort()" again to store the items in reverse alphabetical order, and print the list to show the change.

In [6]:
locations = ["Monaco", "Pointe Noire", "Vancouver", "Stockholm", "New Orleans"]
print(locations)

['Monaco', 'Pointe Noire', 'Vancouver', 'Stockholm', 'New Orleans']

In [13]:
x = sorted(locations)

print(x)

['Monaco', 'New Orleans', 'Pointe Noire', 'Stockholm', 'Vancouver']

In [16]:
print(locations)

['Monaco', 'Pointe Noire', 'Vancouver', 'Stockholm', 'New Orleans']

In [22]:
print(sorted((locations), reverse = True))

['Vancouver', 'Stockholm', 'Pointe Noire', 'New Orleans', 'Monaco']

In [23]:
print(locations)

['Monaco', 'Pointe Noire', 'Vancouver', 'Stockholm', 'New Orleans']

In [25]:
locations.reverse()
print(locations)

['New Orleans', 'Stockholm', 'Vancouver', 'Pointe Noire', 'Monaco']

In [26]:
locations.reverse()
print(locations)

['Monaco', 'Pointe Noire', 'Vancouver', 'Stockholm', 'New Orleans']

In [28]:
locations.sort()
print(locations)

['Monaco', 'New Orleans', 'Pointe Noire', 'Stockholm', 'Vancouver']

In [31]:
locations.sort()
locations.reverse()
print(locations)

['Vancouver', 'Stockholm', 'Pointe Noire', 'New Orleans', 'Monaco']